/* αCRM Styles */

html, body {
    height: 100%;
    background: right no-repeat fixed url('../img/bg.jpg');
    background-size: cover;
    font-family:    'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

.icon-bar {
    background-color: #fff;
}

.navbar-trans {
    background-color: #279ddd;
    color: #fff;
}

.navbar-trans li > a:hover, .navbar-trans li > a:focus, .navbar-trans li.active {
    background-color: #38afef;
}

.navbar-trans a {
    color: #fefefe;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}

section {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: calc(100% - 1px);
}

.v-center {
    padding-top: 10%;
    font-size: 70px;
}

.well {
    border-color: transparent;
}

a.list-group-item.active, [class*='-info'] {
    background-color: #168ccc;
    color: #fff;
}

#home {
    color: #fff;
    background-color: rgba(22,140,204,0.5);
    text-shadow: 0 0 10px rgba(104, 104, 104, 5);
}

#about,
#help,
#section6 {
    /* White background, grey text */
    background-color: #fff;
    color: #444;
}

#about div > i.fa,
#help div > i.fa,
#section6 div >i.fa {
    color: #168ccc;
}

#about a > i.fa:hover,
#help a > i.fa:hover,
#section6 a > i.fa:hover {
    color: #444;
}

#download,
#contact,
#section7 {
    background-color: rgb(22,140,204);
    color: #fff;
}

#download i.fa,
#contact i.fa,
#section7 i.fa {
    color: #444;
}

#download a > i.fa:hover,
#contact a > i.fa:hover,
#section7 a > i.fa:hover {
    color: #fff;
}

footer {
    background-color: #494949;
    color: #ddd;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer .nav > li > a {
    padding: 3px;
    color: #ccc;
}

footer .nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

#home .logo {
    color: #fff;
}

.row, .tb-pad {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blue {
    color: #168ccc;
}

.grey {
    color: #444;
}

.white {
    color: #fff;
}

/* Avatar */
.joe-avatar {
    width:                 250px;
    height:                250px;
    background-image:      url('//joenyland.me/assets/img/joe.jpg');
    background-size:       cover;
    margin-right: auto;
    margin-left: auto;
    display:               block;
    border-radius:         125px;
    -webkit-border-radius: 125px;
    -moz-border-radius:    125px;
}

.joe-avatar-sm {
    width:                 75px;
    height:                75px;
    border-radius:         37px;
    -webkit-border-radius: 37px;
    -moz-border-radius:    37px;
}
